body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  padding-bottom: 25px;
}

.greyBloc {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 619px;
  background-color: #c4c4c4;
  font-size: 18px;
  line-height: 21px;
  padding-top: 25px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
